/* style4.css */

body {
    font-family: 'Slackey', cursive;
    background-color: #000cb9;
    margin: 0;
    padding: 0;
}

#drawingAndGameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#drawingContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

#drawingControls {
    margin-bottom: 20px;
}

#drawingControls div {
    margin-bottom: 10px;
}

#drawingControls label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

#drawingControls input[type="color"],
#drawingControls input[type="range"] {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
}

.controls button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.controls button:hover {
    background-color: #45a049;
}

#logo {
    font-family: 'Slackey', cursive;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    color: #4CAF50; /* Changed color to green */
}
